<!-- In PHP check cookies id not there redirect to main page or display not logged in -->
<!doctype html>
<html>
	<head>
		<title>BJK Registration</title>

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
	</head>

	<body class="w3-blue-grey">
        <nav class="w3-bar w3-white">
            <a class="w3-bar-item w3-button w3-hover-blue-grey" href="#">Home</a>
            <a class="w3-bar-item w3-button w3-hover-blue-grey" href="#">Master Schedule</a>
            <a class="w3-bar-item w3-button w3-hover-blue-grey" href="#">Master Catalog</a>
        <!-- Clear cookie and redirect to main page -->
        <form action = "?" method = "post">                 <input type = "submit" name = "signout" class="w3-bar-item w3-button w3-right w3-red" value = "Sign Out">             </form>
    </nav>

    <!-- Cards start -->
    <div class="w3-row-padding w3-margin-top">
        <!-- Start Card -->
        <a class="w3-quarter" style="text-decoration: none;" href="#">
          <div class="w3-card-8 w3-center w3-white w3-hover-blue-grey">
            <img src="img/file_icon.png"  alt="icon">
            <div class="w3-container">
              <h3>System Button</h3>
            </div>
          </div>
        </a>
        <!-- End Card -->
        <!-- Start Card -->
        <a class="w3-quarter" style="text-decoration: none;" href="#">
          <div class="w3-card-8 w3-center w3-white w3-hover-blue-grey">
            <img src="img/file_icon.png"  alt="icon">
            <div class="w3-container">
              <h3>System Button</h3>
            </div>
          </div>
        </a>
        <!-- End Card -->
        <!-- Start Card -->
        <a class="w3-quarter" style="text-decoration: none;" href="#">
          <div class="w3-card-8 w3-center w3-white w3-hover-blue-grey">
            <img src="img/file_icon.png"  alt="icon">
            <div class="w3-container">
              <h3>System Button</h3>
            </div>
          </div>
        </a>
        <!-- End Card -->
        <!-- Start Card -->
        <a class="w3-quarter" style="text-decoration: none;" href="#">
          <div class="w3-card-8 w3-center w3-white w3-hover-blue-grey">
            <img src="img/file_icon.png"  alt="icon">
            <div class="w3-container">
              <h3>System Button</h3>
            </div>
          </div>
        </a>
        <!-- End Card -->
    </div>
    <!-- End of Icon buttons -->
	</body>
</html>
